<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>quality book</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/bookdetails.css">
    <link rel="stylesheet" href="assets/css/booklist.css">
    <link rel="stylesheet" href="assets/css/checkout.css">
    <link rel="stylesheet" href="assets/css/footer.css">
    <link rel="stylesheet" href="assets/css/header.css">
    <link rel="stylesheet" href="assets/css/home.css">
    <link rel="stylesheet" href="assets/css/login.css">
    <link rel="stylesheet" href="assets/css/profile.css">
    <link rel="stylesheet" href="assets/css/register.css">
    <link rel="stylesheet" href="assets/css/shoppingcart.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <div>
        <nav class="navbar navbar-default navbar-fixed-top navigation-clean-search">
            <div class="container-fluid">
                <div class="navbar-header"><a class="navbar-brand" href="#">Quality Book</a><button data-toggle="collapse" class="navbar-toggle collapsed" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button></div>
                <div
                    class="collapse navbar-collapse" id="navcol-1"><a class="btn btn-default navbar-btn navbar-right action-button" role="button" href="#">Sign Up</a>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active" role="presentation"><a href="#">Contact Us</a></li>
                        <li class="active" role="presentation"><a href="#">Login</a></li>
                    </ul>
                    <form class="navbar-form navbar-left navbar-style navbar-right" id="navcol-1">
                        <div class="form-group header-search"><label class="control-label" for="search-field"><i class="glyphicon glyphicon-search nav-search-icon"></i></label><input type="search" class="form-control search-field" id="search-field" name="search" placeholder="I am looking for..."/></div>
                    </form>
            </div>
    </div>
    </nav>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2"><div class="register-div">
    <form method="post">
    <h2 class="sr-only login-head">Registration</h2>
    <hr/>
    <div class="form-group">
        <input type="text" class="form-control" name="username" placeholder="User Name" /></div>
    <div class="form-group">
        <input type="email" class="form-control" name="email" placeholder="Email" /></div>
    <div class="form-group">
        <input type="password" class="form-control" name="password" placeholder="Password" /></div>
    <div class="form-group">
        <input type="password" class="form-control" name="password-repeat" placeholder="Repeat Password" /></div>
    <div class="form-group">
        <button class="btn btn-primary btn-block register-submit" type="submit" style="background-color: rgb(86,198,198);">Submit</button></div>
    </form>
</div></div>
        </div>
    </div>
    <div class="footer-basic">
        <footer>
            <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
            <p class="copyright">Inspired and Created by Li Qi</p>
        </footer>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>