.btn.btn-primary.home-btn-addtocart {
  background-color: rgb(86,198,198);
}

.home-price {
  font-size: 3rem;
}

.home-div-price {
  display: inline-block;
  text-align: right;
  float: right;
}

.home-div-btn {
  display: inline-block;
  float: left;
}

img {
  height: 400px;
  overflow: hidden;
  width: auto;
}

